<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user-circle fa-lg" style="color:white;"></i>
    </a>
    {% if user.is_authenticated %}
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/logout/">Logout</a>
    </div>
    {% else %}
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/signup/">Signup</a>
        <a class="dropdown-item" href="/login/">Login</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">More</a>
    </div>
    {% endif %}
</li>
